.gallery {
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}

.galleryColumn {
  padding-left: 10px;
  background-clip: padding-box;
}

.imageWrapper {
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.2s;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease, opacity 0.2s ease-in-out;
  cursor: pointer;
}

.imageWrapper img:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
