.menu {
  width: 250px;
  background-color: #fbe3cb;
  padding-top: 20px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
}


.menuItem {
  padding: 10px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;

  font-size: 1.5rem;
  transition: background-color 0.2s ease-in-out;
}

.menuItem:hover {
  background-color: #f7d7b7;
}

.link {    
  text-decoration: none;  
  color: #6b1313;
}

.subMenu .menuItem {
  padding: 10px;
}

.subMenu .subMenu .menuItem {
  padding-left: 60px ;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.subMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
  /* background-color: #f7d7b7; */
}

.subMenu .menuItem {
  padding-left: 40px;;
}

.subMenu.open {
  max-height: 500px;
  opacity: 1;
}

.logo img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.instagram {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 18px;
  transition: background-color 0.2s ease-in-out;
}

.instagram:hover {  
  background-color: #f7d7b7;
}

.bottomIcon {
  margin-top: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
}

/* 
  .content {
    margin-left: 250px; 
    padding: 20px;
  } */