:root {
  font-family: 'VT323', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #6b1313;
  background-color: #ffead6;
  /* background-color: #fbe3cb; */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  padding-left: 250px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



/* globals.css or index.css */
.yarl__container {
  --yarl__container_background_color: #ffead6 !important;
  --yarl__color_backdrop: #ffead6 !important;
}